@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --bg: #1e202a;
    --text: #fff;
    --cardbg: #252a41;
}

html[data-theme='light']{
    --bg: #fff;
    --text: #000000;
    --cardbg: #f0f2fa;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body{
    background: var(--bg);
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

a { 
    color: hsl(228, 45%, 44%); 
}

h3{
    font-size: 0.8rem;
}

h3,h4,h5{
    color: #63687e;
}

.title{
    font-size: 1rem;
    color: var(--text);
    font-weight: 700;
    margin: 0 0 1.3rem 0;
    margin-bottom: 0.5rem;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
}

.totalflwrs{
    margin-bottom: 5%;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: linear-gradient(to right, #378fe6, #3eda82);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #1e202a;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #d3d3d3;
}

input:checked + label:after {
	left: calc(100% - 5px);
    transform: translateX(-100%);
    background: #fff;
}

label:active:after {
	width: 5px;
}

.header{
    margin-bottom: 2rem;
}

.mode{
    color: #63687e;
    font-weight: 700;
    display: inline-block;
}

.switch{
    display: inline-block;
}

.container{
    display: grid;   
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-bottom: 2rem;
}

.box{
    position: relative;
    background: var(--cardbg);
    padding: 5% 7%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border1,.border2{
    border-top: solid 3pt #198ff5;
}

.border3{
    border-top: solid 3pt;
    border-image: linear-gradient(to right, #fdc468, #df4996) 1 stretch;
}

.border4{
    border-top: solid 3pt #c4032a;
}

.tag{
    display: inline-block;
    margin-left: 5% ;
}

.followers{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

.stats{
    color: var(--text);
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 700;
}

.arrow{
    margin-bottom: 1%;
}

.increase{
    color: #1db489;
    display: inline-block;
    margin-top: 5%;
    font-size: 0.7rem;
}

.decrease{
    color: #dc414c;
    display: inline-block;
    margin-top: 5%;
    font-size: 0.7rem;
}

.box1{
    height: 100px;
}

.head{
    position: absolute; 
    top: 15%;
    left: 5%;
}

.facebook,.tweet,.insta,.utube{
    position: absolute; 
    top: 15%;
    right: 5%;
}

.views{
    position: absolute;
    bottom: 15%;
    left: 5%;
    color: var(--text);
}

.corner{
    position: absolute; 
    bottom: 15%;
    right: 5%;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: var(--text);
    margin-top: 2%;
 }

@media screen and (min-width: 600px){
    .title{
        font-size: 1.5rem;
        margin: .5rem 0 0.5rem 0;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 }